.galleryThumbnail{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1rem;
    height: 100%;
}

.galleryThumbnail img {
    width: inherit;
    height: inherit;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 71px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 71px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 71px 7px rgba(0,0,0,0.75);
    cursor: pointer;
}

#galleryImagemeteoriteMap, #galleryImagesimonsGame{
    transition: border-radius 500ms ease-in-out;
}

#galleryImagemeteoriteMap:hover, #galleryImagesimonsGame:hover{
    border-radius: 50%;
}

.iframeContainerClass{

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe{
    border: 1px solid black;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 71px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 71px 12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 71px 12px rgba(0,0,0,0.75);
    background-color: white;
}